/* Import fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@700&family=Work+Sans:wght@400;500;600&display=swap');

/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/* Main content container */
.content {
    padding: 1.5rem 1.5rem 2rem 1.5rem;
    min-width: 300px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

/* Header section */
.main-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    row-gap: 1rem;
}

/* Logo header */
.logo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* Logo text */
.logo h2 {
    font-family: 'Sora', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #120B48;
}

/* Logo image */
#logo {
    width: 28px;
}

/* Close button */
.close {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

/* Settings button */
#settings {
    width: 20px;
    cursor: pointer;
}

/* Close button */
#close {
    opacity: 0.5;
    cursor: pointer;
    width: 20px;
}

/* Hover effect for close button */
#close:hover {
    opacity: 1;
}

/* Word header */
.word-header {
    color: #413C6D;
    font-size: 0.875rem;
    font-weight: 400;
}

/* Screens section */
.screens {
    display: flex;
    padding: 0rem 2rem;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    margin-top: .5rem;
}

/* Full-screen and current screen sections */
.full-screen,
.current-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

/* Text within full-screen and current screen sections */
.full-screen p,
.current-screen p {
    color: #120B48;
    font-size: 0.875rem;
    font-weight: 600;
}

/* Full-screen section (initially with reduced opacity) */
.full-screen {
    opacity: 0.5;
}

/* Images for full-screen and current screen sections */
#full_screen-img,
#current_tab-img {
    width: 32px;
}

/* Hover effect for full-screen section */
.full-screen:hover {
    opacity: 1;
}

/* Button container */
.button-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.75rem;
    border: 1px solid #100A42;
    padding: 0.75rem 0.75rem 0.75rem 1rem;
}

/* Icon and title within button container */
.icon-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* Text within icon and title */
.icon-title p {
    color: #100A42;
    font-size: 0.875rem;
    font-weight: 500;
}

/* Camera icon image */
#camera-img {
    width: 24px;
}

/* Audio icon image */
#audio-img {
    height: 24px;
}

/* Recording section */
.recording {
    width: 100%;
    padding: 1rem;
    gap: 0.5rem;
    border-radius: 0.75rem;
    background: #120B48;
    border: none;
}

/* Text within recording section */
.recording span {
    color: #FAFDFF;
    font-size: 1rem;
    font-weight: 500;
}

/* Toggle switch */
.switch {
    position: relative;
    display: inline-block;
    width: 2.25rem;
    height: 1.25rem;
}

/* Hide the actual input */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Slider for the toggle switch */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

/* Slider knob */
.slider:before {
    position: absolute;
    content: "";
    width: 1rem;
    height: 1rem;
    left: 0.12rem;
    bottom: 0.12rem;
    background-color: white;
    transition: .4s;
}

/* Styling for checked (on) state of the toggle switch */
input:checked + .slider {
    background-color: #120B48;
}

/* Styling for focus state of the toggle switch */
input:focus + .slider {
    box-shadow: 0 0 1px #120B48;
}

/* Move the slider knob to the right for the checked (on) state */
input:checked + .slider:before {
    transform: translateX(1rem);
}

/* Rounded sliders */
.slider.round {
    border-radius: 0.75rem;
}

/* Rounded knob for rounded sliders */
.slider.round:before {
    border-radius: 50%;
}
